*~
*\.ZILESAVE
*\.tmp
*\.log
*\.out
/\.classpath
/\.project
/\.settings
/\.idea
/\.idea_modules
/\.lib
*\.iml
\.classpath_nb
\.ensime
\.ensime_lucene
\.ensime_cache/
target/
dist/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea/
logs/
lib/
tmp/
